.interview {
  &__container {
    margin-top: 4%;
  }
  &__main {
    &-image {
      width: 99%;
    }
    &-container {
      margin-top: 0.3%;
    }
    &-title {
      color: $white;
      font-family: 'Libel-Suit';
      padding: 1.5% 2%;
      background-color: #1569b4;
      display: inline-block;
      border-radius: 7px;
      margin-top: 0;
      font-size: 1.878rem;
      &--first {
        margin-bottom: 3%;
        font-size: 2.5rem;
        padding: 1% 9%;
        padding-left: 2%;
        margin-top: 3%;
      }
      &--second {
        margin-bottom: 4.5%;
        font-size: 2.5rem;
        padding: 1% 17%;
        padding-left: 2%;
        margin-top: 3%;
      }
      &--third {
        margin-bottom: 5%;
        font-size: 2.5rem;
        padding: 0.8% 7%;
        padding-left: 2%;
        margin-top: 3%;
      }
      &-head {
        font-size: 2.4rem;
        padding: 1.2% 2%;
        margin-top: 1.6%;
        margin-bottom: 1.6%;
        &--second {
          font-size: 2.26rem;
          padding: 0.7rem 1.68rem;
        }
        &--third {
          padding: 0.75rem 3.58rem;
        }
        &--fourth {
          padding: 1.2% 7.4%;
          margin-bottom: 2.2%;
        }
        &--fifth {
          display: inline-block;
          margin-left: 0px;
          width: 25%;
          text-align: center;
          font-size: 1.39rem;
          margin-top: 2.2%;
          padding: 1% 3.2%;
        }
        &--sixth {
          margin-bottom: 1.1%;
          padding: 1.2% 11.5%;
        }
        &--seventh {
          padding-left: 2.7%;
          padding-right: 5.5%;
          margin-bottom: 2.4%;
        }
        &--nineth {
          padding-right: 3%;
          font-size: 2.26rem;
          margin-bottom: 2.7%;
        }
        &--tenth {
          padding-left: 1%;
          padding-right: 2.4%;
          margin-bottom: 2%;
        }
        &--eleventh {
          padding-left: 1%;
          padding-right: 2.4%;
          margin-bottom: 2%;
          font-size: 1.87rem;
        }
        &--twelfth {
          padding-right: 3.9%;
          margin-bottom: 1.4%;
          font-size: 2.33rem;
        }
        &--fourteenth {
          font-size: 1.88rem;
          padding: 1.4% 2.2%;
          margin-top: 1.6%;
          margin-bottom: 2.3%;
        }
        &--fifteenth {
          font-size: 1.835rem;
          padding: 1.2% 3.2%;
          margin-top: 1.6%;
          margin-bottom: 1.5%;
          padding-left: 1%;
        }
        &--sixteenth {
          padding-right: 3.7%;
          font-size: 2.26rem;
          margin-bottom: 2%;
        }
        &--seventeenth {
          font-size: 1.878rem;
          padding: 1.7% 2.2%;
        }
        &--eighteenth {
          font-size: 1.82rem;
          padding: 1.8% 3.8%;
          margin-bottom: 5.3%;
          padding-left: 2.1%;
          padding-top: 1.5%;
        }
        &--nineteen {
          font-size: 1.78rem;
          padding: 1.5% 11.3%;
          margin-top: 1.6%;
          margin-bottom: 3%;
        }
      }
    }
    &-subtitle {
      font-family: 'Libel-Suit';
      color: $blue-dark;
      display: block;
      margin-top: 0.4%;
      margin-bottom: 1%;
    }
  }
  &__gallery {
    &-profile {
      margin-bottom: 4%;
      color: $gray-darker2;
      position: relative;
    }
    &-image {
      width: 30%;
    }
    &-text {
      display: block;
      position: absolute;
      top: 45%;
      left: 34.5%;
      font-size: 1.71rem;
      font-family: Verdana;
      &--one {
        top: 37%;
      }
      &--two {
        top: 49%;
      }
      &--three {
        top: 62%;
      }
      &--expand {
        top: 35%;
      }
      &--retract {
        top: 43%;
        &-two {
          top: 46%;
        }
      }
    }
  }
  &__posdata {
    font-size: 2.1rem;
    font-family: Verdana;
    font-weight: bold;
    color: $blue-dark;
    margin-top: 0;
    &-text {
      text-align: justify;
      font-family: Verdana;
      font-weight: bold;
      color: #1569b4;
      padding-right: 6%;
      font-size: 1.1rem;
      margin-bottom: 0;
    }
  }
  &__question {
    &-text {
      color: $blue-dark;
      font-size: 1.14rem;
      font-family: Verdana;
      text-align: justify;
      display: block;
    }
    &-answer {
      color: $gray-darker2;
      font-family: Verdana;
      font-size: 1rem;
      text-align: justify;
      padding-right: 0.5rem;
      &-space {
        margin-bottom: 0;
        &--preview {
          font-weight: bold;
          font-size: 1.096rem;
          font-family: Verdana;
          color: $blue-dark;
        }
      }
      &-container {
        margin-top: 7.4%;
        margin-bottom: 2.5%;
      }
    }
    &-space {
      margin-top: 1%;
      margin-bottom: 1%;
      &--right {
        padding-right: 6%;
      }
      &-profile {
        margin-top: 5.6%;
        &--nine {
          margin-top: 7%;
        }
        &--twelve {
          margin-top: 9.4%;
        }
      }
      &-paragraph {
        margin-top: 3.2%;
        margin-left: 0;
      }
      &--seventeenth {
        display: inline-block;
        width: 65%;
        margin-top: 2%;
      }
    }
    &--seventeen {
      margin-bottom: 24px;
    }
  }
  &-menu {
    &__tag {
      font-size: 1.96rem;
      padding: 1.2% 0.8%;
      display: block;
      text-align: center;
      width: 32.5%;
      margin: auto;
      margin-bottom: 6%;
    }
  }
  &-one {
    &__first-image {
      width: 100%;
      height: 31rem;
    }
    &__fifth-image {
      width: 32.1%;
      float: left;
      margin-right: 2.3%;
      margin-bottom: 1%;
    }
    &__sixth-image {
      float: right;
      width: 46%;
      margin-left: 2.3%;
      padding-top: 1.1%;
    }
    &__tag {
      position: absolute;
      left: 26.5%;
      top: 7rem;
      font-size: 1.3rem;
      padding: 0.5% 0.8%;
    }
    &__profile {
      display: inline-block;
      width: 37%;
    }
    &__questions {
      width: 61%;
      float: right;
      margin-top: 7%;
      margin-left: 7px;
      text-align: justify;
      padding-right: 0.2rem;
    }
    &__photos {
      margin-bottom: 2.4%;
    }
    &__photo {
      width: 29%;
      margin-right: 1.4%;
      &-one {
        width: 29.12%;
      }
      &-two {
        width: 29%;
      }
      &-three {
        width: 36.7%;
      }
    }
    &__container-info {
      margin-top: 0.6%;
    }
  }
  &-two {
    &__first-image {
      float: right;
      width: 54.6%;
      margin-left: 2.6%;
      padding-right: 0.9%;
    }
    &__profile {
      position: relative;
    }
    &__tag {
      position: absolute;
      font-size: 1.3rem;
      padding: 0.43rem 1rem;
      left: 21rem;
      top: 0.5rem;
    }
  }
  &-three {
    &__first-image {
      float: left;
      width: 48.5%;
      margin-right: 2.3%;
      padding-top: 0.9%;
    }
    &__profile {
    }
  }
  &-four {
    &__profile {
    }
    &__first-image {
      width: 48%;
      float: left;
      margin-right: 2.7%;
    }
    &__web {
      display: block;
      text-align: center;
      font-size: 1.1rem;
      font-family: Verdana;
      font-weight: bold;
      color: $blue-dark;
      &:hover {
        color: $blue-dark;
      }
    }
  }
  &-five {
    &__profile {
      position: relative;
      &-space {
        padding-right: 6%;
      }
    }
    &__tag {
      position: absolute;
      font-size: 1.35rem;
      padding: 0.8% 1.3%;
      top: 12%;
      right: 35%;
      padding-top: 0.6%;
      padding-right: 1%;
    }
    &__first-image {
      float: right;
      width: 40%;
      margin-left: 5.1%;
      margin-bottom: 1.9%;
      margin-top: 2.4%;
    }
  }
  &-six {
    &__first-image {
      float: left;
      width: 59%;
      margin-right: 2.2%;
    }
    &__profile {
      position: relative;
      &-space {
        margin-top: 8%;
      }
    }
    &__tag {
      position: absolute;
      font-size: 1.27rem;
      right: 33.5%;
      top: 1.37rem;
      padding: 0.8% 1.6%;
    }
  }
  &-seven {
    &__profile {
      position: relative;
    }
    &__first-image {
      float: left;
      width: 30.9%;
      margin-right: 1.7%;
    }
    &__second-image {
      width: 95%;
      height: 36rem;
      margin-left: 4.1%;
      &-container {
        float: right;
        width: 51%;
      }
    }
    &__third-image {
      float: left;
      width: 32%;
      margin-right: 1%;
    }
    &__fourth-image {
      float: right;
      width: 65%;
      margin-left: 2.4%;
    }
    &__tag {
      position: absolute;
      padding: 0.7% 3.8%;
      font-size: 1.3rem;
      left: 29%;
      top: 0.8rem;
    }
  }
  &-eigth {
    &__profile {
      position: relative;
    }
    &__first-image {
      float: left;
      width: 47%;
      margin-right: 1.5%;
    }
    &__tag {
      position: absolute;
      padding: 0.8% 0.9%;
      font-size: 1.3rem;
      left: 40.5%;
      top: 0.5rem;
      padding-right: 0.34rem;
    }
  }
  &-nine {
    &__profile {
      position: relative;
    }
    &__first-image {
      float: left;
      width: 50.6%;
      margin-right: 1.8%;
    }
    &__second-image {
      float: right;
      width: 55%;
      margin-left: 2.4%;
    }
    &__tag {
      position: absolute;
      padding: 0.6% 3.6%;
      font-size: 1.34rem;
      left: 40%;
      top: 0.4rem;
      padding-left: 4.6%;
    }
  }
  &-ten {
    &__first-image {
      float: left;
      width: 98%;
      margin-bottom: 2.4%;
    }
    &__tag {
      position: absolute;
      padding: 0.6% 2.2%;
      font-size: 1.32rem;
      right: 3.2%;
      top: 15.8rem;
    }
    &__profile {
      position: relative;
    }
  }
  &-eleven {
    &__first-image {
      float: right;
      width: 93%;
      margin-bottom: 2.1%;
      margin-left: 4%;
      padding-right: 1.7%;
      padding-left: 3%;
    }
    &__second-image {
      float: left;
      width: 41%;
      margin-right: 2.9%;
    }
    &__third-image {
      width: 93%;
      margin-left: 2.6%;
      &-container {
        margin-left: 1.1%;
        float: right;
        width: 48.4%;
      }
    }
    &__tag {
      position: absolute;
      padding: 0.6% 1.8%;
      font-size: 1.3rem;
      left: -0.8%;
      top: 12rem;
      padding-right: 1.4%;
    }
    &__profile {
      position: relative;
    }
  }
  &-twelve {
    &__first-image {
      float: left;
      width: 61%;
      margin-right: 1.5%;
    }
    &__tag {
      position: absolute;
      padding: 0.6% 2.2%;
      font-size: 1.3rem;
      right: 19.7%;
      top: 1.7rem;
    }
    &__profile {
      position: relative;
    }
  }
  &-thirteen {
    &__first-image {
      float: left;
      width: 63%;
      margin-right: 1.5%;
    }
    &__second-image {
      float: left;
      width: 47%;
      margin-right: 2%;
    }
    &__third-image {
      float: right;
      width: 43%;
      margin-left: 2%;
    }
    &__fourth-image {
      float: left;
      width: 50%;
      margin-right: 1.4%;
    }
    &__tag {
      position: absolute;
      bottom: -3.2%;
      left: 2%;
      padding: 0.7% 4%;
      font-size: 1.3rem;
      &-right {
        position: absolute;
        top: 5%;
        right: 29.9%;
        padding: 0.7% 4%;
        font-size: 1.3rem;
      }
      &-left {
        position: absolute;
        top: 15.6%;
        left: 32%;
        padding: 0.7% 4%;
        font-size: 1.3rem;
      }
    }
    &__profile {
      position: relative;
    }
  }
  &-fourteen {
    &__first-image {
      float: right;
      width: 59%;
      margin-right: 1.5%;
      margin-left: 2.1%;
    }
    &__second-image {
      float: left;
      width: 52%;
      margin-right: 2.7%;
    }
    &__tag {
      position: absolute;
      bottom: -5.2rem;
      left: 27.2%;
      padding: 0.7% 2.1%;
      font-size: 1.34rem;
      padding-right: 1.3%;
    }
    &__profile {
      position: relative;
      &-space {
        margin-top: 6rem;
      }
    }
  }
  &-fifteen {
    &__first-image {
      float: left;
      width: 47%;
      margin-right: 1.5%;
    }
    &__tag {
      position: absolute;
      bottom: -35rem;
      left: 24%;
      padding: 0.7% 2.1%;
      font-size: 1.32rem;
      padding-right: 1.3%;
    }
    &__profile {
      position: relative;
    }
  }
  &-sixteen {
    &__first-image {
      float: left;
      width: 45%;
      margin-right: 1.7%;
    }
    &__second-image {
      float: left;
      width: 51.5%;
      margin-right: 2.3%;
    }
    &__tag {
      position: absolute;
      bottom: -4.3rem;
      left: 36%;
      padding: 0.7% 2.4%;
      font-size: 1.33rem;
      padding-right: 1.3%;
    }
    &__profile {
      position: relative;
    }
  }
  &-seventeen {
    &__first-image {
      float: left;
      width: 61.5%;
      margin-right: 1.9%;
    }
    &__other-images {
      width: 97%;
      display: block;
      margin-top: 5.8%;
    }
    &__tag {
      position: absolute;
      bottom: -70px;
      left: 248px;
      padding: 7px 21px;
      font-size: 21px;
      padding-right: 13px;
    }
    &__profile {
      position: relative;
    }
    &__container-images {
      width: 34%;
      float: right;
      margin-top: 1.1%;
    }
  }
  &-eighteen {
    &__first-image {
      float: left;
      width: 52%;
      margin-right: 1.9%;
    }
    &__tag {
      position: absolute;
      top: 0.42rem;
      left: 48%;
      padding: 0.7% 1.4%;
      font-size: 1.326rem;
      padding-right: 0.6%;
    }
    &__profile {
      position: relative;
    }
  }
  &-nineteen {
    &__profile {
      position: relative;
    }
    &__first-image {
      float: left;
      width: 58%;
      margin-right: 1.9%;
      height: 43rem;
    }
    &__tag {
      position: absolute;
      left: 60%;
      font-size: 1.7rem;
      padding: 0.2% 0.8%;
      padding-top: 0;
    }
  }
  &__menu {
    padding-right: 3.2%;
    padding-left: 3.2%;
    &-section {
      text-align: center;
      color: $white;
      cursor: pointer;
      &:hover {
        color: $white;
      }
      &--blue {
        &-dark {
          background-color: $blue-dark;
          margin-top: 5%;
          &:hover {
            background-color: darken($blue-dark, 10%);
          }
        }
        &-light {
          background-color: $blue-light;
          &:hover {
            background-color: darken($blue-light, 10%);
          }
        }
        &-cloud {
          background-color: $blue-cloud;
          &:hover {
            background-color: darken($blue-cloud, 10%);
          }
        }
        &-deep {
          background-color: $blue-deep;
          &:hover {
            background-color: darken($blue-deep, 10%);
          }
        }
      }
    }
    &-text {
      font-family: 'Libel-Suit';
      color: $white;
      margin-top: 0;
      margin-bottom: 0;
      padding: 4.7% 0;
      font-size: 2.53rem;
      &--blue {
        &-dark {
          background-color: $blue-dark;
          display: inline-block;
          padding: 3.5% 6.7%;
          border-radius: 6px;
          padding-left: 4%;
        }
      }
      &-link {
        color: $white;
        &:hover {
          color: $white;
        }
      }
    }
  }
}

.advertisement {
  &__image {
    background-image: url('/static/images/cellphone.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 231px;
    margin-top: 5%;
    &-second {
      background-image: url('/static/images/3.jpeg');
      height: 16vw;
      margin-top: 0px;
    }
    &--alternative {
      margin-top: 0;
    }
  }
  &__description {
    background-color: #555555;
    letter-spacing: 0.129rem;
    font-family: verdana;
    text-align: center;
    padding-top: 28%;
    padding-bottom: 37.6%;
    color: #ffffff;
    &-second {
      background-color: $blue-sky;
      margin-top: 23px;
    }
  }
  &__text {
    font-size: 1.24rem;
    display: block;
  }
  &__subtext {
    font-size: 0.62rem;
    display: block;
  }
  &__secondary {
    display: block;
    font-family: Verdana;
    text-align: center;
    &-container {
      margin-left: 1%;
      margin-right: 1%;
      margin-top: 19.5%;
      text-align: center;
    }
    &-main {
      font-size: 1.1rem;
      font-weight: 900;
      padding: 0 0.7rem;
      color: $blue-sky;
    }
    &-sub {
      margin-top: 11.7%;
      font-weight: bold;
      font-size: 0.87rem;
      padding: 0px 2.1%;
      color: $gray-darker2;
    }
    &-last {
      color: $gray-darker2;
      line-height: 1.7;
      font-size: 0.88rem;
      &-container {
        margin-top: 12.7%;
      }
    }
    &-image {
      margin-top: 17%;
      width: 74%;
    }
  }
}
