.social {
    margin-top: 2.2%;
    display: inline-block;
    width: 44.6%;
    &--footer {
        display: block;
        text-align: center;
        margin: auto;
        width: 52%;
        margin-top: 1.5%;
    }
    &__icon {
        display: inline-block;
        margin: 2% 2%;
        height: 4rem;
        width: 4rem;
    }
}