.container {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  padding: 0 $half-spacing-unit;
  @media #{$small} {
  	padding: 0 $base-spacing-unit;
  }
  &--large {
    max-width: 1275px;
  }
  &--largest {
    max-width: 1220px;
  }
  &--max{
    max-width: 1290px;
  }
}

.container--small{
  max-width: 780px;
}
